.navbar
  display flex
  align-items center
  justify-content space-between
  height NAVBAR_HEIGHT
  padding 0 1rem

  &__logo
    font-size 3rem
    display flex
    align-items center
    justify-content center
    cursor pointer
    span
      font-weight bold
      color PRIMARY_COLOR

  &__right
    display flex
    align-items center
    justify-content space-evenly
  
  &__link
    font-size 2rem
    margin 0 1rem
    cursor pointer
    
    a
      text-decoration none
      color #000